
.vs/
.vscode/
*.vcxproj.user
*.vcxproj.filters
*.suo
*.user
*.userosscache
*.sln.docstates

Debug/
DebugPublic/
Release/
ReleasePublic/
x64/Debug/
x64/Release/

*.exe
*.ilk
*.obj
*.pdb
*.idb
*.tlog

*.txt
*.log